<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>No Kamar</th>
            <th>Harga</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of roomList; index as i">
            <td>{{ room.Id }}</td>
            <td>{{ room.NoKamar }}</td>
            <td>{{ room.Harga }}</td>
            <td>{{ room.Status }}
                <button class="btn btn-primary" (click)="book(i)">Book</button>
            </td>
        </tr>
    </tbody>
</table>